.git
.venv
.env
.env.*
.bulk-media
frontend/dist
.vercel
test-results
exports
**/*.sqlite
**/*.dump
**/*.backup
**/*.db-*
**/*.zip
frontend/node_modules
backend/web
**/__pycache__
**/*.db
backups
*.log
